@using WhatSearch.Controllers
@using WhatSearch.Utility
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon" />

  <title>@Helper.GetProductVersion()</title>

  <!-- Bootstrap core CSS -->
<!-- CSS only -->


<!-- JS, Popper.js, and jQuery -->
  <link type="text/css" rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />  
  <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
  
  @Helper.ContentCss("site.css")


  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.1.2/axios.min.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script type="text/javascript" src="/assets/js/popper.min.js"></script>
  <script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>

  <script type="text/javascript" src="https://unpkg.com/vue@3"></script>

  @Helper.ContentJs("api.js")

  @RenderSection("header", false)

</head>

@RenderBody()

@RenderSection("footer", false)

</html>


