@using WhatSearch.Controllers
@using WhatSearch.Utility
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon" />

  <title>@Helper.GetProductVersion()</title>

  <!-- Bootstrap core CSS -->
<!-- CSS only -->


<!-- JS, Popper.js, and jQuery -->
  <link type="text/css" rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

  @Helper.ContentCss("site.css")


  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <script type="text/javascript" src="/assets/js/jquery-3.5.1.slim.min.js"></script>
  <script type="text/javascript" src="/assets/js/popper.min.js"></script>
  <script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>

  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.min.js"></script>

  @Helper.ContentJs("api.js")

  @RenderSection("header", false)

</head>

@RenderBody()

</html>


